---
layout: default
title: Project Overview
desc: project overview, projects, interactive, sandbox

require-js: false

itemimg_width: 32px
itemimg_height: 32px

---

<!-- <main class="tile-set">
    {% for tile in site.data.project_tiles %}
        <a class="tile" href="{{ tile.link }}">
            <h2 class="tile-title">{{ tile.title }}</h3>
            <figure class="tile-figure">
                <img src="{{ tile.img.src }}" title="{{ tile.img.alt }}" alt="{{ tile.img.alt }}"/>
                <figcaption>{{ tile.caption }}</figcaption>
            </figure>
        </a>
    {% endfor %}
</main> -->

<main>
    <ul class="project-list">
        {%- assign x = 0 -%}
        {%- for item in site.data.project_tiles -%}
            {%- if x == 0 -%}
                {%- assign x = 1 -%}
            {%- else -%}
                {% include {{ page.includes.hdivider }} %}
            {%- endif -%}
            <li class="project-item" role="listitem">
                <a href="{{ item.link }}">
                    <img src="{{ item.img.src }}" alt="{{ item.img.alt }}" width="{{ page.itemimg_width }}" height="{{ page.itemimg_height }}"/>
                    <hgroup class="project-item-text">
                        <h2 class="project-item-title">{{ item.title }}</h2>
                        <p>{{ item.caption }}</p>
                    </hgroup>
                </a>
            </li>
        {%- endfor -%}
    </ul>
</main>