/* global variables */



/* end global variables */

/*
clearfix hack
Source: https://nicolasgallagher.com/micro-clearfix-hack/
*/

* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

body {
    height : 2000px;
}

.logo, .logo > img {
    background : transparent;
    width : 20%;
    max-width : 250px;
}
.logo:hover {
    opacity : 0.8;
}

.title {
    font-size : max(3vw, 2em);
    font-size : clamp(2em, 3vw, 4em);
    width : 80%;
    margin-left : 20px;
    padding : 20px;
    display : inline-block;
    word-wrap : break-word;
    white-space : normal;
}

header {
    background : #002839;
    width : 100%;
    white-space : nowrap;
}

main {
    background : #152931;
    width : 100%;
    height : 100px;
    visibility : hidden;
}

footer {
    background : green;
    width : 200px;
    height : 100px;
    visibility : hidden;
}

/****************
Dropdown menu styling:
*******************/

nav {
    --menu-height : 40px;
    --dropdown-color : white;

    background : #002839;
    width : 100%;
    position : -webkit-sticky;
    position : sticky;
    top : 0;
    box-shadow : 0 10px 10px #49494977;
    box-sizing : border-box;
}
nav ul {
    list-style : none;
}

/* List containing dropdowns at the top */
nav > ul {
    display : flex;
    height : var(--menu-height);
    padding-left : 15%;
    background : #004039;
    align-items : center;
    color : var(--dropdown-color);
}

.dropdown {
    padding : 10px 30px;
    padding-right : 10px; /* for down-arrow dropdown */
    height : 100%;
    box-sizing : border-box;
}
.dropdown.dd-link {
    padding-right : 30px; /* reset padding for simple links */
}
.dropdown:hover {
    background : #005055;
}
.dropdown::after {
    content: '';
    width: 0;
    height: 0;
    margin-left : 20px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #a9a9a9;
    position: relative;
    right: 8px;
    top: 50%;
    transition : top 0.1s;
}
.dropdown.dd-link::after {
    margin-left : 0;
    display : none;
}
.dropdown:hover::after {
    top : 75%;
}

.sub-dropdown {
    position : relative;
}

.dd-content {
    top : var(--menu-height);
    visibility : hidden;
    opacity : 0;
    position : absolute;
    z-index : 1;
    white-space : nowrap;
    box-shadow : 2px 5px 5px 3px #494949bb;
    transition : opacity 0.5s;
}

/* show dropdown */
li:hover > .dd-content {
    /* use % so that each sub menu is slightly less visible */
    visibility : visible;
    opacity : 95%; 
}

/* arrow for sub-dropdowns */
.sub-dropdown::after {
    content : "";
    width : 0;
    height : 0;
    position : absolute;
    right: 8px;
    border-left : 5px solid #a9a9a9;
    border-top : 5px solid transparent;
    border-bottom : 5px solid transparent;
    transition : right 0.1s;
}
.sub-dropdown:hover::after {
    right : 2px;
}

/* sub dropdowns need to be positioned to the right */
.sub-dropdown .dd-content {
    top : -2%;
    left : 100%;
}

/* All dropdown elements (including in sub-dropdowns) */
.dropdown li {
    display : flex;
    align-items : center;
    justify-content : center;
    color : black;
    background : #898989;
    height : 40px;
    min-width : 160px;
    padding : 0 20px;
    box-sizing : border-box;
    border-bottom : 2px solid #898989;
}
.dropdown li:hover {
    background : #696969;
    border-bottom : 2px solid #a9a9a9;
}

.dropdown li, .dropdown .dd-link a {
    color : black;
}
/* Simple links need to be the same color as the other dropdowns */
.dropdown.dd-link a {
    color : var(--dropdown-color);
}

/* Styling links */
.dd-link, .dd-link a {
    text-decoration : none;
    cursor : pointer;
}
.dd-link a {
    display : flex;
    align-items : center;
    justify-content : center;
    height : 100%;
    width : 100%;
}


/*************
End dropdown
***********/

/************
Side menu styling:
***********/

aside ul {
    list-style-type : none;
    padding-inline-start : 0;
    padding-inline-end : 10px;

}

aside li {
    margin-left : 10px;
    background : #898989;
}

aside li.current, aside li:hover {
    margin-left : 8px;
    border-left : solid 2px #005055;
}

aside {
    height : 300px;
    width : 15%;
    background : #696969;
}


/***********
End side menu
************/