/*
clearfix hack
Source: https://nicolasgallagher.com/micro-clearfix-hack/
*/

/* monospace font for code blocks */
@font-face {
    font-family: 'Space Mono';
    src: url('fonts/smr/SpaceMono-Regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/smr/SpaceMono-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/smr/SpaceMono-Regular.woff2') format('woff2'), /* Smaller than woff, but supported by fewer */
        url('fonts/smr/SpaceMono-Regular.woff') format('woff'), /* Modern Browsers */
        url('fonts/smr/SpaceMono-Regular.svg#SpaceMono-Regular') format('svg'); /* Legacy iOS */
}

/* calligraphy font for names */
@font-face {
    font-family: 'Great Vibes';
    src: url('fonts/gv/GreatVibes-A7yL.otf') format('opentype'),
        url('fonts/gv/GreatVibes-Wmr4.ttf') format('truetype');
}

:root {
    /* global variables */
    --title-color: #dddddd;
    --text-color: #aaaaaa;
    --text-color-hl: #99bbbb;
    --text-color-dark: #555555;
    --text-color-purple: #9f18fa;
    --text-color-magenta: #bd4afd;
    --text-color-pink: #fa6cff;

    --bg-color-darkblue: #002839;
    --bg-color-teal: #004039;
    --bg-color-lightteal: #005055;
    --bg-color-lighterteal: #006066;
    --bg-color-lightblue: #31b6ee;
    --bg-color-darkgrey: #181a1b;

    --bg-color-important: #DD2222;
    --bg-color-warn: #DDDD22;

    --menu-height: 60px;
    --footer-height: 300px;

    --logo-width: 20%;
    --logo-max-width: 250px;
    /* end global variables */
}

/* This is added so that the element the URI fragment links to, is not hidden under the nav bar */
:target {
    scroll-margin-top: calc(var(--menu-height) + 10vh);
    scroll-snap-margin-top: calc(var(--menu-height) + 10vh); /* alternative name used by Safari, prior version 14.1 */
    outline: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    position: relative;
    background: var(--bg-color-darkgrey);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    margin-bottom: var(--footer-height);
    overflow-x: hidden;
}

/* style noscript tag and div.noscript inside */
noscript, .noscript {
    color: white;
}

.page-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    background: #111111;
}

/* if no sidebar, expand to full screen */
/* .page-wrapper:has(> main) {
    display: block;
} */

/* if no sidebar, expand to full screen */
.page-wrapper > :only-child {
    width: 100%;
}

.content-wrapper {
    background: #152931;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    overflow-x: hidden;
    /* Allows for absolute positioning relative to the content */
    /* position : relative; */
}

.content-wrapper.not-boxed {
    background: transparent;
    border-radius: 0;
    margin: 15px 0;
}

.announcement-wrapper {
    position: absolute;
    top: var(--menu-height);
    left: 0;
    width: 100%;
    z-index: 20;
    
}

.announcement {
    background: var(--bg-color-darkblue);
    color: white;
    border-radius: 15px;
    border: solid 3px #EEEE00;
    padding: 5px;
    font-size: 1.1em;
    width: 100%;
}

.announcement-wrapper .x-bttn {
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    padding: 0.5em;
    margin: 0.5em;
    box-sizing: content-box;
    color: red;
    text-align: center;
    appearance: none;
}

.announcement-wrapper .x-bttn::after {
    content: "X";
    display: block;
}

.announcement-wrapper .x-bttn:hover {
    color: white;
}

.x-bttn:checked,
.x-bttn:checked + .announcement {
    display: none;
}

/* SCROLLBAR
Note: Custom scrollbars are not supported in Firefox or in Edge, prior version 79. */

/* width */
::-webkit-scrollbar {
    /* margin-top: var(--menu-height); */
    height: 10px;
    width: 10px;
    background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    /* margin-top: var(--menu-height); */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--bg-color-lightteal);
    border-radius: 10px;
    border: 1px solid var(--bg-color-teal);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--bg-color-teal);
}

/****************
Title bar styling:
*******************/

header {
    background: var(--bg-color-darkblue);
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;

    /* z-index added so that it is above the nav bar logo that appears on scroll */
    position: relative;
    z-index: 11;

    box-shadow: inset 0 -20px 10px -10px var(--bg-color-teal);
}

.logo,
.logo > img {
    background: transparent;
    width: var(--logo-width);
    max-width: var(--logo-max-width);
}

.logo:hover {
    opacity: 0.8;
}

/* if logo in the nav bar,
    use the height of the nav bar instead */
nav .logo,
nav .logo > img {
    width: unset;
    height: var(--menu-height);
}

.title {
    font-size: max(3vw, 2em);
    font-size: clamp(2em, 3vw, 4em);
    width: calc(100% - min(var(--logo-width), var(--logo-max-width)));
    margin-left: 20px;
    padding: 20px;
    padding-right: 0;
    display: inline-block;
    word-wrap: break-word;
    white-space: normal;
    color: var(--title-color);
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
}

/* the "project >" text on project pages */
header > .project-text {
    position: absolute;
    top: calc(0.2 * var(--menu-height));
    left: calc(20px + min(var(--logo-width), var(--logo-max-width)));

    font-family: 'Space Mono', 'Courier New', Courier, monospace;
    color: white;
}

/*************
End title bar
***********/

/****************
Dropdown menu styling:
*******************/

nav {
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    height: var(--menu-height);
    background: var(--bg-color-teal);
    box-shadow: 0 5px 10px var(--bg-color-darkblue);

}

/* logo that shows up when nav is sticky to the top */
.sticky-logo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.sticky-logo:hover {
    opacity: 0.8;
}

.sticky-logo > img {
    height: var(--menu-height);
}

nav .dropdown-menu {
    list-style: none;
}

/* List containing dropdowns at the top */
nav > .dropdown-menu {
    display: flex;
    flex-direction: row;
    height: var(--menu-height);
    padding-left: 15%;
    color: var(--title-color);
}

/* if logo is in the nav, subtract width of logo */
.logo + .dropdown-menu {
    display: inline-flex;
    padding-left: 5%;
}

.dropdown {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Place padding on link if possible so that larger area is clickable.
Place padding on dropdown button otherwise */
.dropdown:not(.dd-link),
.dd-link a {
    padding: 0 50px;
}

.dropdown:hover,
.dropdown:focus {
    background: var(--bg-color-lightteal);
    cursor: default;
}

.dropdown::after {
    content: '';
    /* draw the triangle */
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #a9a9a9;

    position: absolute;
    right: 20px;
    top: 50%;
    transition: top 0.1s;
}

/* no arrow for simple links */
.dropdown.dd-link::after {
    display: none;
}

/* animate on hover */
.dropdown:hover::after,
.dropdown:focus::after {
    top: 60%;
}

.sub-dropdown {
    position: relative;
}

.dd-content {
    top: var(--menu-height);
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 1;
    white-space: nowrap;
    box-shadow: 2px 5px 5px 3px #494949bb;
    transition: opacity 0.5s;
}

/* show dropdown */
li:hover > .dd-content,
li:focus > .dd-content {
    visibility: visible;
    opacity: 1;
}

/* arrow for sub-dropdowns */
.sub-dropdown::after {
    content: "";
    /* draw the triangle */
    width: 0;
    height: 0;
    border-left: 5px solid #a9a9a9;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;

    position: absolute;
    right: 8px;
    transition: right 0.1s;
}

.sub-dropdown:hover::after {
    right: 2px;
}

/* sub dropdowns need to be positioned to the right */
.sub-dropdown .dd-content {
    top: -2%;
    left: 100%;
}

/* All dropdown elements (including in sub-dropdowns) */
.dropdown li {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background: #898989;
    height: 40px;
    min-width: 160px;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 2px solid #898989;
}

.dropdown li:hover {
    background: #696969;
    border-bottom: 2px solid #a9a9a9;
}

.dropdown li,
.dropdown .dd-link a {
    color: black;
}

/* Simple links need to be the same color as the other dropdowns */
.dropdown.dd-link a {
    color: var(--title-color);
}

/* Styling links */
.dd-link,
.dd-link a {
    text-decoration: none;
    cursor: pointer;
}

.dd-link a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}


/*************
End dropdown
***********/

/************
Side menu styling:
***********/

.aside-wrapper {
    position: relative;
    top: 0;
    width: 0;
    z-index: 9;
}

aside {
    --burger-menu-size: 40px;
    --burger-menu-animation-duration: 0.5s;
    --aside-menu-bg-color: #696969;
    --aside-menu-width: 200px;

    position: sticky;
    position: -webkit-sticky;
    top: var(--menu-height);
    left: 0;
}

.aside-content {
    width: var(--aside-menu-width);
    padding-bottom: 5px;
    background: var(--aside-menu-bg-color);
    box-shadow: 0 calc(-1 * var(--burger-menu-size)) 0 0 var(--aside-menu-bg-color);
    position: relative;

    /* Move out of frame by default (burger menu opens it) */
    transform: translate(-100%, var(--burger-menu-size));
    transition: transform var(--burger-menu-animation-duration) cubic-bezier(0.9, 0, 0.1, 1);
}

/* block closing the menu above the content next to the x button */
.aside-content::before {
    content: "";
    display: block;
    width: calc(var(--aside-menu-width) - var(--burger-menu-size));
    height: var(--burger-menu-size);
    position: absolute;
    left: var(--burger-menu-size);
    top: calc(-1 * var(--burger-menu-size));
}

aside ul {
    list-style-type: none;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

aside li {
    padding: 5px 20px;
    font-size: 1.1em;
    background: #898989;
}

aside li.current,
aside li:hover {
    background: #aaaaaa;
}

aside .toc-title {
    padding: 10px;
    color: var(--text-color);
}

/* Burger menu styling */

.burger-menu {
    position: absolute;
    top: 0;
    left: 0;
    appearance: none;
    width: var(--burger-menu-size);
    height: var(--burger-menu-size);
    background: transparent;
}

.burger-menu:checked {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
}

.burger-menu + svg {
    position: absolute;
    width: var(--burger-menu-size);
    height: var(--burger-menu-size);
    pointer-events: none;
    z-index: 1;
    background: var(--bg-color-lighterteal);
    transition: background-color var(--burger-menu-animation-duration) cubic-bezier(1, 0, 0, 1);
}

.burger-menu + svg line {
    transition-duration: var(--burger-menu-animation-duration);
    transition-property: stroke, transform;
    transition-timing-function: cubic-bezier(0.7, 0.5, 0.5, 0.7);
}

.burger-menu + svg line:nth-of-type(1) {
    stroke: var(--text-color-purple);
    transform-origin: center 6px;
    -webkit-transform-origin: center 6px;
}

.burger-menu + svg line:nth-of-type(2) {
    stroke: var(--text-color-magenta);
    transform-origin: center 12px;
    -webkit-transform-origin: center 12px;
}

.burger-menu + svg line:nth-of-type(3) {
    stroke: var(--text-color-pink);
    transform-origin: center 18px;
    -webkit-transform-origin: center 18px;
}

.burger-menu:checked + svg line:nth-of-type(1) {
    transform: translate(0, 6px) rotate(45deg);
}

.burger-menu:checked + svg line:nth-of-type(2) {
    stroke: transparent;
    transform: scale(0.2);
}

.burger-menu:checked + svg line:nth-of-type(3) {
    transform: translate(0, -6px) rotate(-45deg);
    stroke: var(--text-color-purple);
}

.burger-menu:checked ~ .aside-content {
    transform: translate(0, var(--burger-menu-size));
}

.burger-menu:checked + svg {
    background: transparent;
}

/* End burger menu styling */


/***********
End side menu
************/

/***********
Footer styling:
************/

footer {
    background: #000002;
    width: 100%;
    min-height: var(--footer-height);

    /* make the footer stick to the bottom if page is shorter than viewport height */
    position: absolute;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
}

.footer-content {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px;
    justify-content: space-between;
    padding: 0 15px;
    height: 100%;
}

.footer-info {
    color: var(--text-color);
    margin: auto 0;
    font-size: 1em;
}

.footer-category {
    display: inline-block;
    padding-left: 10vw;
    padding-top: 20px;
    vertical-align: top;
    white-space: nowrap;
}

.footer-category > span {
    font-size: 1.4em;
    font-weight: 200;
}

.footer-entry {
    display: block;
    padding-top: 10px;
}

.footer-entry a {
    text-decoration: none;

}

.footer-img {
    height: 300px;
}

/***********
End footer
***********/

.disclaimer {
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
    width: 100%;
    text-align: center;
    color: var(--text-color);

}

.last-updated-wrapper {
    width: 100%;
    text-align: right;
}

.last-updated {
    font-size: 80%;
    display: inline-block;
    border-radius: 10px;
    padding: 5px;
    background: darkslategray;
    opacity: 0.4;
    border: none;
}

.last-updated:hover,
.last-updated:focus {
    opacity: 1;
}

section {
    --section-aligned-width: calc(max(60%, min(100%, 400px)));

    border-radius: 15px;
    background: var(--bg-color-teal);
    margin: 5px 0;
    padding: 20px 10px;
    font-size: 1em;
}

section:not(:first-child) {
    margin-top: 30px;
}

section.align-left {
    width: var(--section-aligned-width);
    margin-right: auto;
}

section.align-right {
    width: var(--section-aligned-width);
    margin-left: auto;
}

/* SECTION: section title styling */
section .s-title {
    padding-left: 10px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-bottom: 1px solid var(--text-color-hl);
}

section .sub-title {
    margin-top: 5px;
    margin-bottom: 15px;
}

a.section-link {
    color: var(--text-color-hl);
    text-decoration: none;
}

/* a.section-link::after {
    background-image: url('../media/chain-link-icon.png');
    background-size: 1em 1em;
    display: inline-block;
    margin-left: 3px;
    width: 1em;
    height: 1em;
    content: "";
    /* Generated using: https://codepen.io/sosuke/pen/Pjoqqp 
        A code snippet that generates the filters needed to convert from a black image to any desired HEX colour value (approximately).*\/
    filter: invert(46%) sepia(94%) saturate(615%) hue-rotate(153deg) brightness(91%) contrast(104%);
    -webkit-filter: invert(46%) sepia(94%) saturate(615%) hue-rotate(153deg) brightness(91%) contrast(104%);
} */

/* Provide in-document link to link to that has an offset from the actual title.
    Otherwise, the title would be hidden under the header when linking to it. */
.section-link-to {
    display: inline;
    position: relative;
    top: calc(-1 * var(--menu-height) - 50px);
}

/* END: section title styling */

/* SECTION: media styling */
.media-section {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-top: dashed 1px var(--bg-color-darkblue);
    border-bottom: dashed 1px var(--bg-color-darkblue);
}

/* .media-section.align-left {
    justify-content: left;
} */

/* .media-section.align-right {
    justify-content: right;
} */

.media-wrapper {
    /* width: 100%;
    display: grid;
    grid-auto-flow: column;
    gap: 15px;
    align-items: center;
    justify-content: space-between; */
    background: var(--bg-color-lightteal);
    border-radius: 15px;
    padding: 5px 15px;
    overflow-x: auto;
}

/* .media-wrapper:has(:only-child),
.media-wrapper.singular {
    width: initial;
} */

/* Figure type */
/* figure.media {
    background: var(--bg-color-lightblue);
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
} */

/* Text type */
/* div.media {
    background: var(--bg-color-lightblue);
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    overflow-y: auto;
    height: 100%;
    min-width: 300px;
} */

/* figure.media .media-content {
    display: inline-block;
    max-height: 400px;
} */

/* figure.media figcaption {
    color: var(--text-color-dark);
} */


.slideshow {
    --sh-width-image: max(40vw, min(100vw, 700px));
    --sh-height-image: max(20vw, 300px);
    --sh-padding-top: 5px;
    --sh-padding-left: 15px;
    --sh-size-box: 20px;
    --sh-nav-margin: 10px;
    --bg-color-sh-nav: var(--text-color-hl);
    --text-color-sh-nav: #555555;

    /* width of image + space for nav buttons */
    width: var(--sh-width-image);
    height: var(--sh-height-image);
    padding: var(--sh-padding-top) var(--sh-padding-left);

    position: relative;
    overflow-x: hidden;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

/* .slideshow .media .media-content {
    max-height: var(--sh-height-image);
} */

/* default of all media: move them to the left, out of frame */
.slideshow > .slide {
    position: absolute;
    top: var(--sh-padding-top);
    left: calc(-1 * var(--sh-width-image));
    opacity: 0;
    filter: blur(5px);
    width: calc(100% - 2 * var(--sh-padding-left));
    height: calc(100% - 2 * var(--sh-padding-top));
    background: var(--bg-color-lighterteal);

    overflow: hidden;
    transition: left 1s ease-in-out, opacity 1s ease-in-out, filter 1s ease-in-out;
}

/* 
Move all media after a checked nav button to the right, out of frame.
 > the active image and all images after it are now placed on the right.
*/
.slideshow-nav:checked ~ .slide {
    left: var(--sh-width-image);
}

/* 
Select active image and move it back in view.
Checkboxes are offset by one image to make selection possible.
Second line is for edge case to target first image.
Third line is for edge case to target last image.
*/
.slideshow-nav:not(:checked) + .slide + .slideshow-nav:checked + .slide,
.slideshow-nav:first-child:checked + .slide,
.slideshow-nav:not(:checked) + .slide + .slide:last-child {
    display: flex;
    left: var(--sh-padding-left);
    opacity: 1;
    filter: none;
}

/* default all nav buttons to left */
.slideshow-nav {
    position: absolute;
    top: calc(var(--sh-height-image) / 2 - var(--sh-size-box));
    left: var(--sh-nav-margin);
    width: 0;
    height: 0;
    border-radius: 50%;
    border: var(--sh-size-box) solid var(--bg-color-sh-nav);
    appearance: none;
    font-size: 2em;
    transition: border 10ms ease-out, top 10ms ease-out, font-size 10ms ease-out;
    cursor: pointer;
    z-index: 10;
}

/* Move checkbox to right if checked */
.slideshow-nav:checked {
    left: unset;
    right: var(--sh-nav-margin);
}

.slideshow-nav:hover {
    --sh-size-box: 22px;
    --sh-nav-margin: 9px;
    font-size: calc(2em + 2px);
}

/* Create the left arrow */
.slideshow-nav::before {
    content: "<";
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: var(--sh-size-box);
    height: var(--sh-size-box);
    top: calc(-0.5 * var(--sh-size-box));
    left: calc(-0.5 * var(--sh-size-box));
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color: var(--text-color-sh-nav);
}

/* Turn it into a right arrow when checked */
.slideshow-nav:checked::before {
    content: ">";
}

/* Hide unnecessary checkmarks on right so that the right checkmark is selectable*/
.slideshow-nav:checked ~ .slideshow-nav {
    display: none;
}

/* END: media styling */

/* SECTION: info block styling */
.info {
    background: var(--bg-color-lightteal);
    border-left: solid var(--bg-color-darkblue) 5px;
    margin: 10px;
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 0 5px 5px -2px #555555aa;
}

.info.important {
    border-left: solid var(--bg-color-important) 5px;
}

.info.warn {
    border-left: solid var(--bg-color-warn) 5px;
}

.info.icon {
    padding-left: 35px;
    position: relative;
}

.info.icon::before {
    position: absolute;
    content: "i";
    font-size: 15px;
    font-weight: bolder;
    width: 15px;
    height: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    border: solid 2px var(--text-color-hl);
    color: var(--text-color-hl);
    background: transparent;
    left: 8px;
}

.info.warn.icon::before,
.info.important.icon::before {
    content: "!";
}

/* END: info block styling */

section ul,
section ol {
    list-style-type : none;
    padding-inline-start: 0px;
    margin-left: 1em;
}

/* Style link: slide animation underline on hover */
a.slide-hover,
p a {
    text-decoration-style: dotted;
    text-underline-offset: 0.1em;
    text-decoration-thickness: 2px;
    position: relative;
    color: var(--text-color-hl);
}

a.slide-hover::before,
p a::before {
    position: absolute;
    content: "";
    bottom: calc(-0.1em + 1px);
    bottom: 0;
    width: 2px;
    height: 2px;
    background: var(--text-color-hl);
    display: inline-block;
    visibility: hidden;

    transition: width 0.5s ease-in-out, visibility 0s linear 0.5s;
}

a.slide-hover:hover::before,
a.slide-hover:focus::before,
p a:hover::before,
p a:focus::before {
    transition: width 0.1s ease-in-out, visibility 0s linear;
    width: 100%;
    visibility: visible;
}

a[target="_blank"]::after {
    background-image: url('./media/external-link.webp');
    background-size: 1em 1em;
    display: inline-block;
    margin-left: 3px;
    width: 1em;
    height: 1em;
    content: "";
    /* Generated using: https://codepen.io/sosuke/pen/Pjoqqp 
        A code snippet that generates the filters needed to convert from a black image to any desired HEX colour value (approximately).*/
    filter: invert(46%) sepia(94%) saturate(615%) hue-rotate(153deg) brightness(91%) contrast(104%);
    -webkit-filter: invert(46%) sepia(94%) saturate(615%) hue-rotate(153deg) brightness(91%) contrast(104%);
}

section > p,
section > :not(.code-block) p,
section .info {
    color: var(--text-color);
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.5em;
}

.p-start {
    font-style: italic;
    font-weight: bold;
    color: var(--text-color-hl);
    font-size: 1.05em;
}

.inline-code,
.code-block {
    font-family: 'Space Mono', 'Courier New', Courier, monospace;
    color: white;
    line-height: 1.5em;
}

.inline-code {
    display: inline-block;
    background: var(--bg-color-darkblue);
    padding: 0 5px;
    border-radius: 5px;
    font-size: 0.8em;
}

.code-block {
    display: block;
    background: var(--bg-color-darkblue);
    padding: 5px 5px 5px 10px;
    line-height: 1.5em;
    border-left: solid var(--bg-color-lightteal) 5px;
    margin: 10px;
    border-radius: 0px 5px 5px 0px;
    font-size: 0.8em;
}

/* SECTION: welcome message styling */

@keyframes slide-in {
    from {
        /* slide amount is defined per line */
        margin-left: var(--slide-amount);
        filter: blur(2px);
        -webkit-filter: blur(2px);
        text-shadow: 0 0 2px var(--text-color);
    }

    to {
        margin-left: 0;
        filter: none;
        -webkit-filter: none;
        text-shadow: none;
    }
}

@keyframes slide-in-opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Block the hover event of the msgbox by placing an invisible pseudo-element over it */
@keyframes block-hover {
    to {
        height: 0;
    }
}

.welcome-wrapper {
    --bg-welcome-wrapper: var(--bg-color-lighterteal);
    --bg-welcome-wrapper2: var(--bg-color-darkgrey);
    --min-height-ww: calc(min(100vh - var(--menu-height), 50vw));
    --slide-duration: 1s;
    --slide-delay: 0.2s;
    --slidein-animation: var(--slide-duration) ease-out var(--slide-delay) 1 slide-in, var(--slide-duration) ease-out var(--slide-delay) 1 normal forwards slide-in-opacity;
    --slide-amount: -10vw; /* default slide amount */


    width: 100%;
    min-height: var(--min-height-ww);
    background: linear-gradient(to right, var(--bg-welcome-wrapper2) 60%, var(--bg-welcome-wrapper));
    background: -o-linear-gradient(to right, var(--bg-welcome-wrapper2) 60%, var(--bg-welcome-wrapper));
    background: -webkit-linear-gradient(to right, var(--bg-welcome-wrapper2) 60%, var(--bg-welcome-wrapper));
    background: -moz-linear-gradient(to right, var(--bg-welcome-wrapper2) 60%, var(--bg-welcome-wrapper));
    /* anchor for art to position relative to */
    position: relative;
    margin-bottom: 30px;
}

/* after element blocks the hover effect while animation is playing */
.welcome-wrapper::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    background: transparent;

    /* animation puts away pseudo-element at the end
    Extreme cubic-bezier curve to keep the element over the msg box as long as possible */
    animation: var(--slide-duration) cubic-bezier(1, 0, 1, -1) var(--slide-delay) 1 normal forwards block-hover;
}

.welcome-msgbox {
    padding: calc(var(--min-height-ww) / 3) 0 0 5vw;
    width: 80vw;
    color: var(--text-color);
}

.welcome-msg {
    --slide-amount: -10vw;

    font-size: calc(min(4em, 5vw));
    font-weight: 150;
}

.welcome-msg span {
    color: var(--text-color-purple);
    font-family: 'Great Vibes', cursive;
    font-weight: 100;
}

.welcome-subcaption {
    --slide-amount: -15vw;

    padding: 1vw 0 1vw 10vw;
    font-size: calc(min(1.2em, 1.5vw));
    font-style: italic;
}

.welcome-subcaption span {
    color: var(--text-color-pink);
    font-style: normal;
}

.welcome-joblist {
    --slide-amount: -20vw;

    padding-left: 20vw;
    font-size: calc(min(1.6em, 2vw));

    /* colour gradient */
    background: linear-gradient(to right, var(--text-color-purple), var(--text-color-pink));
    background: -o-linear-gradient(to right, var(--text-color-purple), var(--text-color-pink));
    background: -webkit-linear-gradient(to right, var(--text-color-purple), var(--text-color-pink));
    background: -moz-linear-gradient(to right, var(--text-color-purple), var(--text-color-pink));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
}

.slide-out {
    animation: var(--slidein-animation);
    transition: margin-left 0.8s ease-in-out;
    opacity: 0;
}

.welcome-msgbox:hover .slide-out {
    margin-left: calc(var(--slide-amount) / -4);
}

.welcome-art-wrapper {
    position: absolute;
    right: 2vw;
    bottom: 0;
}

/* .welcome-art-wrapper::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 5%;
    background: linear-gradient(to top, var(--bg-welcome-wrapper), transparent);
    background: -webkit-linear-gradient(to top, var(--bg-welcome-wrapper), transparent);
    background: -o-linear-gradient(to top, var(--bg-welcome-wrapper), transparent);
    background: -moz-linear-gradient(to top, var(--bg-welcome-wrapper), transparent);
    bottom: 0;
    left: 0;
} */

.welcome-art {
    width: 20vw;
}

/* END SECTION: welcome message styling */
