{%- comment -%}
<!-- 

Parameters:
int offset: Buttons to skip; 0 if missing
int limit: Limit of buttons to be rendered; render all if 0 or missing.
bool noflash: don't add buttons marked as flashing
-->
{%- endcomment -%}

<div class="bttns-container">
    {%- if include.offset -%}
        {%- capture bttn-offset -%}
            {{ include.offset }}
        {%- endcapture -%}
    {%- else -%}
        {%- assign bttn-offset = 0 -%}
    {%- endif -%}

    {%- for item in site.data.buttons offset: bttn-offset -%}
        {%- if include.limit != empty and include.limit != 0 and forloop.index0 >= include.limit -%}
            {%- break -%}
        {%- endif -%}


        {%- comment -%} <!-- optionally skip flashing gifs --> {%- endcomment -%}
        {%- unless include.noflash == true and item.flashing == true -%}

            {%- if item.img.alt != empty -%}
                {%- capture altval %}alt="{{ item.img.alt }}" {% endcapture -%}
            {%- else -%}
                {%- assign altval = "" -%}
            {%- endif -%}
            {%- if item.title != empty -%}
                {%- capture titleval %}title="{{ item.title }}" {% endcapture -%}
            {%- else -%}
                {%- assign titleval = "" -%}
            {%- endif -%}

            {%- if item.w -%}
                {%- capture w -%}
                    {{ item.w }}
                {%- endcapture -%}
            {%- else -%}
                {%- assign w = 88 -%}
            {%- endif -%}
            {%- if item.h -%}
                {%- capture w -%}
                    {{ item.w }}
                {%- endcapture -%}
            {%- else -%}
                {%- assign h = 31 -%}
            {%- endif -%}

            {%- if item.href -%}
                <a class="bttn-88x31" href="{{ item.href }}">
                    <img {{ altval }}{{ titleval }}src="{{ item.img.src }}" loading="lazy" width="{{ w }}" height="{{ h }}"/>
                </a>
            {%- else -%}
                <span class="bttn-88x31">
                    <img {{ altval }}{{ titleval }}src="{{ item.img.src }}" loading="lazy" width="{{ w }}" height="{{ h }}"/>
                </span>
            {%- endif -%}
            
        {%- endunless -%}
    {%- endfor -%}
</div>