<footer class="footer">
    <div class="footer-info centered-div">
        <a class="slide-hover" href="/" title="Take me Home, Country Roads">Home</a>
        <a class="slide-hover" href="/copyright" title="Copyright information">Copyright</a>

        {% include {{ page.includes.vdivider }} %}

        <a class="slide-hover" href="/aboutme" title="About me">About Me</a>
        <a class="slide-hover" href="/aboutme#contact" title="Contact me">Contact Me</a>
        <a class="slide-hover" href="/portfolio" title="Minecraft Portfolio">Portfolio</a>
        <a class="slide-hover" href="https://github.com/CEa-TIde" target="_blank" title="Link to github profile">Github</a>
    </div>
    {% include {{ page.includes.hdivider }} %}
    {% include {{ page.includes.buttons }} limit=0 noflash=true %}
    <!-- transparent footer image right-bottom of the screen/footer
    Width and height attr necessary for lazy loading
    TODO: add srcset/sizes for different viewports -->
    <img class="footer-img" loading="lazy" alt="Cat under a witch hat" title="Nya~" src="/media/cat_witchhat.png" width="200" height="100"/>
</footer>