{%- comment -%}
<!-- to be inserted in a main layout -->

<!-- TODO: add a Liquid check on a variable to include for pages that REQUIRE JS -->
<!-- TODO: add styling to highlight some words -->

<!-- 
Paremeters:
- bool require-js: if current page requires Javascript. Can also be set as a page variable.


-->

{%- endcomment -%}

{%- if include.require-js -%}
{%- capture require-js -%}
{{ include.require-js }}
{%- endcapture -%}
{%- elsif page.require-js -%}
{%- capture require-js -%}
{{ page.require-js }}
{%- endcapture -%}
{%- else -%}
{%- assign require-js = false -%}
{%- endif -%}

<noscript>
    <!-- No classes on the noscript tag, as the browser removes them -->
    <div class="noscript page-box">
        {% include {{ page.includes.noscript_body }} is-noscript=true require-js=require-js %}
    </div>
</noscript>

<!-- This one only loads if js is not loaded and noscript did not load -->
 <!-- This is only necessary if the page REQUIRES js to function -->
{%- if require-js -%}
<div class="ifno-noscript noscript page-box nojs-content">
    {% include {{ page.includes.noscript_body }} is-noscript=false require-js=true %}
</div>
{%- endif -%}