<!-- to be inserted in a main layout -->

<!-- TODO: add a Liquid check on a variable to include for pages that REQUIRE JS -->
<!-- TODO: add styling to highlight some words -->

<noscript>
    <!-- No classes on the noscript tag, as the browser removes them -->
    <div class="noscript page-box">
        <p>
            <span>Yay!</span> Someone else who doesn't use Javascript c:
            <br/>
            <br/>
            But note, if you see the following image, websites can possibly still track that you turned off JS,
            because it is only loaded when JS is disabled.<br/>
            Download the firefox extension <a href="https://addons.mozilla.org/en-GB/firefox/addon/noscript/" target="_blank" rel="noreferrer noopener">NoScript</a>, also pre-installed with the Tor project, to also be able to block noscript tags.
        </p>
        <img src="/media/you_wouldnt_download_a_blahaj_resized.png" width="237" height="107" alt="You wouldn't download a blahaj" title="I would"/>
        <p>
            Some projects do require Javascript to run; enable JS if you wish to use them.
        </p>
    </div>
</noscript>