<!-- TODO: look into quirks mode, and if it is needed for older browsers -->
<!DOCTYPE html>
<html>
    <head>
        {% include {{ page.head_include }} %}
    </head>
    <body>
        <header class="header">
            <a class="logo" href="/"><img src="/media/logo.png" alt="Logo of CEa_TIde" title="Go to the homepage"/></a>
            <h2 class="title">{{ page.title }}</h2>

            {% include {{ page.pagecrumb_include }} %}
        </header>
        <div class="bg-wrapper">
            <div class="page-wrapper centered-div">
                <!-- Adds the nav page-box -->
                <nav class="nav page-box">
                    {% include {{ page.nav_include }} %}
                </nav>
    
                <div class="page-box">
                    {{ content }}
                </div>
            </div>
        </div>
        {% include {{ page.footer_include }} %}
    </body>
</html>
