<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="CEa_TIde, Cyana, personal website, {{ page.keys }}"/>
        <meta name="description" content="{{ page.desc }}"/>
        <meta name="author" content="CEa_TIde"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!--style sheet with site-wide style rules-->
        <link rel="stylesheet" href="main.css?v=0">
        <link rel="shortcut icon" type="image/png" href="media/favicon.png">
        <title>{{ page.title }}</title>
    </head>
    <body>
        <header>
            <a class="logo" href="/"><img src="media/Logo.png" alt="Logo of CEa_TIde" title="Go to the homepage"/></a>
            <h1 class="title">{{ page.title }}</h1>
        </header>
        <nav>
            <ul class="dropdown-menu">
                <li class="dropdown dd-link"><a href="/buildadvice">Build advice</a></li>
                <li class="dropdown dd-link"><a href="/worldedit">World edit tutorial</a></li>
            </ul>
        </nav>
        <div class="announcement-wrapper">
            <input type="checkbox" class="x-bttn"/>
            <div class="announcement">
                This website is currently under construction. Expect changes to be made, and there may be outages at certain times.
            </div>
        </div>
        <div class="page-wrapper">
            {{ content }}
        </div>
        <footer>
            <div class="footer-content">
                <div class="footer-info">
                    <div class="footer-category">
                        <span>General</span>
                        <div class="footer-entry"><a class="slide-hover" href="/" title="Take me Home, Country Roads">Home</a></div>
                        <div class="footer-entry"><a class="slide-hover" href="/copyright" title="Copyright information">Copyright</a></div>
                    </div>
                    <div class="footer-category">
                        <span>About Me</span>
                        <div class="footer-entry"><a class="slide-hover" href="/aboutme" title="About me">About me</a></div>
                        <div class="footer-entry"><a class="slide-hover" href="https://github.com/CEa-TIde" target="_blank" title="Link to github profile">Github</a></div>
                        <div class="footer-entry"><a class="slide-hover" href="/aboutme#contact" title="Contact me">Contact Me</a></div>
                        <div class="footer-entry"><a class="slide-hover" href="/portfolio" title="Minecraft Portfolio">Portfolio</a></div>
                    </div>
                </div>
                <img class="footer-img" src="media/jellyfish-6653502_960_720-edited.jpg"/>
            </div>
        </footer>
    </body>
    <script src="scripts/script.js"></script>
</html>