<!DOCTYPE html>
<html>
    <head>
        {% include {{ page.includes.head }} %}
    </head>
    <body>
        
        <div class="bg-wrapper">
            <div class="centered-div">
                <!-- Adds the nav page-box -->
                <nav class="nav page-box">
                    {% include {{ page.includes.nav }} %}
                </nav>

                {% include {{ page.includes.noscript }} %}
            </div>
    
            <!-- <div class="page-box"> -->
                {{ content }}
            <!-- </div> -->
        </div>
        {% include {{ page.includes.footer }} %}
    </body>
</html>
