<!DOCTYPE html>
<html>
    <head>
        {% include {{ page.includes.head }} %}
    </head>
    <!-- DO NOT ADD EXTRA CLASS TO BODY (unless you change logic in ondomload.js) -->
    <body class="js-disabled">
        {% include {{ page.includes.navskip }} %}
        <div class="bg-wrapper">
            <div class="centered-div">
                <!-- Adds the nav page-box -->
                <nav class="nav page-box">
                    {% include {{ page.includes.nav }} %}
                </nav>
            </div>
    
            <!-- <div class="page-box"> -->
            <div id="nav-skip">
                {{ content }}
            </div>
            {% include {{ page.includes.noscript }} %}
        </div>
        {% include {{ page.includes.footer }} %}
        {%- if page.has-js -%}
        <script src="/scripts/ondomload.js"></script>
        {%- endif -%}
    </body>
</html>
