<!DOCTYPE html>
<html>
    <head>
        {% include {{ page.includes.head }} %}

        {% if page.style %}
        <!-- page-specific stylesheet -->
        <link rel="stylesheet" type="text/css" href="/projects/{{ page.style }}"/>
        {% endif %}
    </head>
    <body>
        {% include {{ page.includes.navskip }} %}
        <header class="header">
            <a class="logo" href="/"><img src="/media/logo.png" alt="Logo of CEa_TIde" title="Go to the homepage"/></a>
            <h2 class="title">{{ page.title }}</h2>

            <nav class="nav centered-div">
                {% include {{ page.includes.pagecrumb }} %}
                <span class="nav-inline">
                    {% include {{ page.includes.navinline }} %}
                </span>     
            </nav>
        </header>
        <div class="page-wrapper" id="nav-skip">
            {{ content }}
        </div>
    </body>
</html>
