<!DOCTYPE html>
<html>
    <head>
        {% include {{ page.head_include }} %}

        {% if page.style %}
        <!-- page-specific stylesheet -->
        <link rel="stylesheet" href="/projects/{{ page.style }}"/>
        {% endif %}
    </head>
    <body>
        <!-- Hidden by default unless focus is on the link -->
        <a href="#nav-skip" class="nav-skip-link">Skip to Main content</a>
        <header class="header">
            <a class="logo" href="/"><img src="/media/logo.png" alt="Logo of CEa_TIde" title="Go to the homepage"/></a>
            <h2 class="title">{{ page.title }}</h2>

            <nav class="nav centered-div">
                {% include {{ page.pagecrumb_include }} %}
                <span class="nav-inline">
                    {% include {{ page.navinline_include }} %}
                </span>     
            </nav>
        </header>
        <div class="page-wrapper" id="nav-skip">
            {{ content }}
        </div>
    </body>
</html>
